/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/views/frontend
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
modules.yml
/.scribe
/public/vendor/scribe
/resources/views/scribe
cashblack-ed76c-firebase-adminsdk-l8cf1-40641151fb.json
firebase-credentials.json